export(run_app)
export(plan_n)
export(curva_semiancho)
export(map_a_pos)
export(diag_posiciones)
export(semiancho_media)
export(error_abs_para_n)
export(error_rel_para_n)
export(confianza_para_n_y_error_abs)
export(confianza_para_n_y_error_rel)
export(n_para_error_abs)
export(n_para_error_rel)
importFrom(stats, qnorm, var, sd, rbeta, rnorm, pnorm)
importFrom(graphics, hist, lines, legend, abline, plot, points, barplot)
importFrom(utils, read.csv, head)
